@using azuredevopsresourceanalyzer.ui.blazor.Application.ViewModels

@Item.Type
<span class="badge badge-secondary" title="New">@Item.New</span>
<span class="badge badge-primary" title="Active">@Item.Active</span>
<span class="badge badge-info" title="Resolved">@Item.Resolved</span>
<span class="badge badge-success" title="Complete">@Item.Closed</span>


@code {
    [Parameter] public WorkItemTypeCount Item { get; set; }
}