@using azuredevopsresourceanalyzer.ui.blazor.Application.ViewModels


@Branch.Name
@if (@Branch.CommitsBehind == 0)
{
    <span class="badge badge-secondary"title="Commits Behind">@Branch.CommitsBehind</span>
}
else
{
    <span class="badge badge-danger"title="Commits Behind">@Branch.CommitsBehind</span>
}

@if (@Branch.CommitsAhead == 0)
{
    <span class="badge badge-secondary" title="Commits Ahead">@Branch.CommitsAhead</span>
}
else
{
    <span class="badge badge-success"title="Commits Ahead">@Branch.CommitsAhead</span>
}


@code {
    [Parameter] public BranchSummary Branch { get; set; }
}