@using azuredevopsresourceanalyzer.ui.blazor.Application.ViewModels
    <ul class="list-unstyled">
        @foreach (var contributor in Items)
        {
            <li>
            @contributor.Name
            <table class="table table-borderless table-sm">
                <tbody>
                    @foreach (var type in contributor.ActivityDetails.Where(t => t.Visible))
                    {
                        <tr>
                            <td><WorkItemTypeCountComponent Item="@type" /></td>
                            <td>
                                <span class="badge badge-pill badge-light" title="Median days from Active to Done">@type.Metrics?.ActiveToDoneDays?.ToString("N")</span>
                            </td>
                            <td>
                                <span class="badge badge-pill badge-light" title="Total story points completed">@type.Metrics?.TotalStoryPointsCompleted?.ToString("N")</span>
                                <span class="badge badge-pill badge-success" title="Median story points completed per iteration">@type.Metrics?.StoryPointsCompletedPerIteration?.ToString("N")</span>
                                <span class="badge badge-pill badge-info" title="Estimated to actual ratio">@type.Metrics?.StoryPointsToActualRatio?.ToString("N")</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </li>
        }

    </ul>
@code {
    [Parameter] public IEnumerable<ActivityItem<List<WorkItemTypeCount>>> Items { get; set; }
}
