@using azuredevopsresourceanalyzer.ui.blazor.Application.ViewModels
    <table class="table-secondary">
        <thead>
            <tr>
                <th>Work Item Type</th>
                <th title="Median number of days from item inception to active state">Backlog</th>
                <th title="Median number of days from active to resolved state">Active</th>
                <th title="Median number of days from resolved to done state">Resolved</th>
                <th title="Median number of days from active to done state">Active to Done</th>
                <th title="Median number of days from inception to done state">End to End</th>
                <th title="Story point metrics">Story Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var type in Items.Where(t=>t.Visible))
            {
                <tr>
                    <td>@type.Type</td>
                    <td>@type.InceptionToActiveDays?.ToString("N")</td>
                    <td>@type.ActiveToResolvedDays?.ToString("N")</td>
                    <td>@type.ResolvedToDoneDays?.ToString("N")</td>
                    <td>@type.ActiveToDoneDays?.ToString("N")</td>
                    <td>@type.TotalEndToEndDays?.ToString("N")</td>
                    <td>
                        <span class="badge badge-pill badge-primary" title="Median story point size for completed stories">@type.StoryPointsCompleted?.ToString("N")</span>
                        <span class="badge badge-pill badge-success" title="Total story points completed">@type.TotalStoryPointsCompleted?.ToString("N")</span>
                    </td>
                  
                </tr>
            }
        </tbody>
    </table>
@code {
    [Parameter] public List<WorkItemTypeMetrics> Items { get; set; }
}
