@using azuredevopsresourceanalyzer.ui.blazor.Application.ViewModels
    <table class="table-secondary">
        <thead>
            <tr>
                <th>Work Item Type</th>
                <th>Inception to Active</th>
                <th>Active to Resolved</th>
                <th>Resolved to Done</th>
                <th>Active to Done</th>
                <th>End to End</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var type in Items.Where(t=>t.Visible))
            {
                <tr>
                    <td>@type.Type</td>
                    <td>@type.InceptionToActiveDays?.ToString("N")</td>
                    <td>@type.ActiveToResolvedDays?.ToString("N")</td>
                    <td>@type.ResolvedToDoneDays?.ToString("N")</td>
                    <td>@type.ActiveToDoneDays?.ToString("N")</td>
                    <td>@type.TotalEndToEndDays?.ToString("N")</td>
                  
                </tr>
            }
        </tbody>
    </table>
@code {
    [Parameter] public List<WorkItemTypeMetrics> Items { get; set; }
}
